/*incluir fuente desde google font */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap");
/*incluir fuente localmente desde nuestra pc*/
@font-face {
  font-family: bebas;
  src: url(../assets/font/BebasNeue-Regular.ttf);
}
/* * = selector universal para reseteo de estilos por default del html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.tarjeta img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-color {
  color: #59CEE6;
}

/* HEADER */
header {
  background-color: #191919;
  font-family: bebas;
  height: 70px;
  font-size: 32px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.herobg {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.239)), url(../assets/hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: bebas;
  font-size: 40px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  background-image: linear-gradient(#fff, #eee);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

nav a:hover {
  background-image: linear-gradient(#fff, #fff);
  background-size: 100% 2px;
}

nav ul {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
  font-size: 20px;
}

.bg-personalizado {
  background-color: #191919;
}

.carousel-item img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  z-index: 0;
}

/* MAIN */
.hero {
  background: linear-gradient(45deg, rgba(89, 207, 230, 0.2705882353), rgba(0, 0, 0, 0.445)), url(../assets/hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero__contenedor {
  padding: 200px 50px;
  color: #fff;
  width: 80%;
  gap: 10px;
}

.hero__contenedor p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-right: 150px;
  margin: 15px 0;
}

.hero__titulo {
  font-family: bebas;
  font-size: 60px;
  color: #fff;
}

/* FOOTER */
footer {
  background: #191919;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
footer section {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: bebas;
  font-size: 24px;
}
footer section form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer section form input {
  background-color: #191919;
  color: #fff;
  padding: 10px;
  outline: none;
  font-family: bebas;
}
footer section form button.btn {
  width: 100%;
  font-size: 24;
  padding: 5px;
}
footer .footer-link {
  text-decoration: none;
  color: #fff;
  list-style: none;
}

.fa-square-instagram {
  color: violet;
  padding: 10px;
  font-size: 224px;
}

.fa-square-whatsapp {
  color: green;
  padding: 10px;
  font-size: 224px;
}

.fa-square-facebook {
  color: blue;
  padding: 10px;
  font-size: 224px;
}

/* nosotros  */
.nosotros {
  background: #191919;
  display: flex;
  padding: 30px;
  gap: 10px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  max-height: 100%;
}

.nosotros__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 40%;
}

.nosotros__info h2 {
  font-family: bebas;
  font-size: 40px;
  padding: 20px 0;
}

.nosotros__info p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.nosotros img {
  width: 40%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* FONDO FIJO  */
.fondo-fijo {
  background-image: url(../assets/bgfixed.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

/* RATE */
.clientes {
  background: #191919;
  color: white;
  padding: 20px;
  height: 100%;
}

.clientes h2 {
  font-family: bebas;
  font-size: 40px;
  padding: 20px 20px;
}

.cards {
  display: flex;
  color: #000;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

/* GALERIA */
.grilla {
  background-color: #191919;
  min-height: 100vh;
  max-height: 100%;
  padding: 100px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 500px);
  grid-template-areas: "area1 area2 area3 area3" "area1 area4 area4 area5" "area6 area6 area7 area7";
  gap: 30px;
}

.galeria {
  box-shadow: 7px 5px 15px -2px rgba(152, 152, 152, 0.55);
  border-radius: 15px;
  position: relative;
}

.g3 p {
  background-color: #eee;
  padding: 15px;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  display: none;
  transition: 0.4s;
}

.g3:hover p {
  display: block;
}

.galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: blur(10px);
  transition: 0.2s;
}

.galeria img:hover {
  filter: blur(0);
  transform: scale(1, 1);
  z-index: 22;
}

.g__content {
  border-radius: 15px;
  background-color: #eee;
  color: #000;
  font-family: bebas;
  padding: 10px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}

.g__content a {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  width: 150px;
  padding: 10px;
  text-align: center;
  align-self: flex-end;
  transition: 0.3s;
}

.g__content a:hover {
  transform: scale(1, 1.05);
  background-color: #eee;
  border: 1px solid #000;
  color: #000;
}

.aarea1 {
  grid-area: area1;
}

.aarea2 {
  grid-area: area2;
}

.aarea3 {
  grid-area: area3;
}

.aarea4 {
  grid-area: area4;
}

.aarea5 {
  grid-area: area5;
}

.aarea6 {
  grid-area: area6;
}

.aarea7 {
  grid-area: area7;
}

/* PAGINA PRODUCTOS*/
.tarjetas {
  background-color: #191919;
  width: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.tarjeta {
  background-color: #eee;
  width: 30%;
}

.tarjeta__contenedora {
  padding: 10px;
  font-family: bebas;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarjeta__contenedora a {
  color: #59CEE6;
  background-color: #191919;
  width: 100px;
  align-self: flex-end;
  padding: 10px;
  text-align: center;
}

.tarjeta__contenedora p {
  padding: 10px 0;
  border-top: 1px solid #191919;
  border-bottom: 1px solid #191919;
  align-self: flex-end;
  width: 100%;
}

.tarjetas__divisor {
  background-image: url(../assets/hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 150px;
  color: #fff;
  font-family: bebas;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ejemplo-sass {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
}
.ejemplo-sass .caja, .ejemplo-sass .ejemplo-sass2 .caja3, .ejemplo-sass2 .ejemplo-sass .caja3 {
  height: 600px;
  width: 300px;
  background-color: rgb(110, 27, 27);
}
.ejemplo-sass .caja3 {
  height: 600px;
  width: 700px;
  background-color: rgb(18, 57, 18);
}

.ejemplo-sass2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: rgb(36, 36, 127);
  padding: 30px;
}
.ejemplo-sass2 .caja, .ejemplo-sass2 .caja3 {
  height: 600px;
  width: 300px;
  background-color: rgb(110, 27, 27);
  padding: 10px;
  color: #fff;
}
.ejemplo-sass2 .caja3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTACTO */
.main {
  background: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.formulario img {
  width: 40%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  background: #000;
  color: #fff;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  margin: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: bebas;
}

.form__content input {
  padding: 10px;
  font-family: bebas;
  background: #eee;
  border-radius: 5px;
}

.form__content textarea {
  resize: none;
}

.form__content--check {
  display: flex;
  font-family: bebas;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn--form {
  background-color: rgb(149, 0, 0);
}

.flex-img {
  display: flex;
  width: 100%;
  padding: 30px;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.flex-img img {
  width: 40%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  filter: sepia(1);
}

.flex-img img:hover {
  transform: scale(1, 1.05);
  filter: sepia(0);
}

@media only screen and (max-width: 900px) {
  .grilla {
    background: #36707b;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2 area3" "area1 area4 area5 " "area6 area4 area7 ";
  }
  .g__content {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  nav ul {
    width: 70%;
  }
  .grilla {
    background: #36437b;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area3" "area1 area3" "area6 area4" "area2 area2" "area5 area7";
  }
}
@media only screen and (max-width: 480px) {
  header {
    height: 100%;
  }
  .grilla {
    background: #62367b;
    display: flex;
    flex-direction: column;
  }
  .flex-img {
    flex-direction: column;
    padding: 15px 5px;
    gap: 20px;
  }
  .flex-img img {
    width: 90%;
  }
  .g3 p {
    font-size: 16px;
  }
  footer {
    flex-direction: column;
    gap: 15px;
  }
}/*# sourceMappingURL=style.css.map */