/* CONTACTO */
.main {
    background: $color-main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formulario {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.formulario img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.form {
    background: #000;
    color: #fff;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin: 20px;
}

.form__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: $font-main;
}

.form__content input {
    padding: 10px;
    font-family: $font-main;
    background: #eee;
    border-radius: 5px;
}

.form__content textarea {
    resize: none;

}

.form__content--check {
    display: flex;
    font-family: $font-main;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}


.form__btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn--form {
    background-color: rgb(149, 0, 0);
}



.flex-img {
    display: flex;
    width: 100%;
    padding: 30px;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.flex-img img {
    width: 40%;
    height: 500px;
    object-fit: cover;
    transition: 0.5s;
    filter: sepia(1)
}

.flex-img img:hover {
    transform: scale(1, 1.05);
    filter: sepia(0);

}



