//vars de colores
$color-main: #191919;
$color-second: #59CEE6;

$redes: (  
instagram: violet,
whatsapp: green,
facebook: blue
);


$rea: (
    area1: area1,
    area2: area2,
    area3: area3,
    area4: area4,
    area5: area5,
    area6: area6,
    area7: area7,
);


//fuente personalizada
$font-main: bebas;